body {
  background-color: #28282B;
  color: #848884;
  font-family: Garamond, serif;
  margin: 10% 20%;
  border: 2px #dddddd
  border-spacing: 15px;

  
}

.main-header{
  text-align: center;
  text-transform:uppercase;
  
  
}

.contact-header{
  text-align: center;
  text-transform:lowercase;
  padding-bottom: 10px;
  
 
 
  
}

.skills-header{
  text-align: center;
  text-transform:uppercase;
  border-top: 2px solid #848884;
  border-bottom: 2px solid #848884;
  background-color: #1B1212;
 
 
}
  
 .experience-header{
 text-align: center;
  text-transform:uppercase;
  border-top: 2px solid #848884;
  border-bottom: 2px solid #848884;
  background-color: #1B1212;
  
}
    
 .education-header{
   text-align: center;
  text-transform:uppercase;
  border-top: 2px solid #848884;
  border-bottom: 2px solid #848884;
  background-color: #1B1212;
   
}
