body {
  background-color: #28282B;
  color: #E5E4E2;
  font-family: Garamond, serif;
  margin: 10% 20%;
  border: 2px #dddddd;
  border-spacing: 15px;

  
}

.main-header{
  text-align: center;
  text-transform:uppercase;
  text-shadow: 5px 5px 5px #36454F;
  
  
}

.contact-header{
  text-align: center;
  text-transform:lowercase;
  padding-bottom: 10px;
  
  
 
 
  
}

a{
   color: #E5E4E2;
  
}


.skills-header{
  text-align: center;
  text-transform:uppercase;
  border-top: 2px solid #848884;
  border-bottom: 2px solid #848884;
  background-color: #36454F;
 
 
}
  
 .experience-header{
 text-align: center;
  text-transform:uppercase;
  border-top: 2px solid #848884;
  border-bottom: 2px solid #848884;
  background-color: #36454F;
  
}
    
 .education-header{
   text-align: center;
  text-transform:uppercase;
  border-top: 2px solid #848884;
  border-bottom: 2px solid #848884;
  background-color: #36454F;
   
}
